.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-red);
  color: white;
  padding: 1rem 2rem;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 10px;
}

.logoIcon {
  font-size: 2rem;
}

.actions {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menuLinks, .userActions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menuLinks a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.cartContainer, .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}